* {
    box-sizing: border-box;
  }

body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
.name {
    color: #34653C;
    font-size: 3rem;
}

.nav-title {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 3px solid #34653C;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
}

.nav-links {
    float: right;
    position: relative;
    top: 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 5px 10px;
    font-size: 22px;
    transition: ease-in-out 0.2s;
}

.nav-links a:hover {
    border-bottom: 3px solid #34653C;
}

.bio {
    color: white;
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

.projTitle {
    font-size: 2rem;
    margin-left: 10px;
    color: #34653C;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 220px 220px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    display: inline-block;
    text-align: center;
    font-family: arial;
  }
  
  
  .card a {
    display: block;
    border: 2px solid black;
    outline: 0;
    margin-top: 5px;
    padding: 12px;
    color: black;
    /* background-color: #34653C; */
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    transition: ease-in-out 0.2s;
  }
  
  .card a:hover {
    /* opacity: 0.7; */
    background-color: #34653C;
    color: white;
  }

  #topPortion{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url("/assets/imgs/forest.jpg");
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

  @media (max-width:600px) {
    .bio {
        font-size: 14px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 70%;
        grid-column-gap: 16px;
        grid-row-gap: 20px;
        justify-content: center;
    }
}